:host {
    height: fit-content;
    border: solid;
    border-color: var(--secondary-background-color);
    border-radius: 5%;
    border-width: 0.5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.card-img-container {
    overflow: hidden;
}

.card-img {
    display: block;
    width: 100%;
    height: auto;
    border: hidden hidden none none;
    border-radius: 5% 5% 0 0;
}
  
.card-img:hover {
    opacity: 0.75;
    cursor: pointer;
    transform: scale(1.1);
}

.sub-text-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    width: fit-content;
}