:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.77rem;
  min-height: var(--custom-min-height);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.subgroup-container-header {
  font-size: 1.1rem;
}

.subgroup-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subgroup-row-space-between {
  justify-content: space-between;
}

.subgroup-row-reverse {
  flex-direction: row-reverse;
}

.bold-item {
  font-weight: bold;
}

.col-2-item {
  flex: 2;
}

.col-3-item {
  flex: 3;
}

.divider {
  opacity: 0.5;
  border-color: var(--secondary-color);
  width: 100%;
}
