.pagination-area {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 5px;
}
  
.pagination-link:hover {
  cursor: pointer;
  opacity: 0.8;
}
  
.pagination-link:active {
  opacity: 0.1;
}