:host {
  position: fixed;
  height: 93vh;
  width: 35%;
  overflow-y: hidden;
  transition: right 1s;
}

/* cart item */

app-cart-item {
  width: 93%;
  height: 25vh;
  margin-left: auto;
  margin-right: auto;
}

/* go to cart button */

.go-to-cart-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  opacity: 1;
}

.go-to-cart-button:hover {
  background-color: rgb(166, 166, 168);
}
