<form [formGroup]="checkoutFormGroup" class="checkout-form" (ngSubmit)="onSubmit()">
    <label class="flex-item-50 sub-label">Personal Information</label>
    <br/>

    <div class="form-item">
        <div class="form-row">
            <label for="firstName" class="flex-item-20 form-label">First Name</label>
        </div>
        <div class="form-row">
            <input id="firstName" type="text" formControlName="firstName" class="flex-item-90 form-input">
        </div>
        @if(!checkoutFormGroup.controls.firstName.valid && checkoutFormGroup.controls.firstName.dirty) {
            <div class="form-row validation-text">
                First name is required!
            </div>   
        }
    </div>

    <div class="form-item">
        <div class="form-row">
            <label for="lastName" class="flex-item-20 form-label">Last Name</label>
        </div>
        <div class="form-row">
            <input id="lastName" type="text" formControlName="lastName" class="flex-item-90 form-input">
        </div>
        @if(!checkoutFormGroup.controls.lastName.valid && checkoutFormGroup.controls.lastName.dirty) {
            <div class="form-row validation-text">
                Last name is required!
            </div>   
        }
    </div>

    <div class="form-item">
        <div class="form-row">
            <label for="email" class="flex-item-20 form-label">E-Mail</label>
        </div>
        <div class="form-row">
            <input id="email" type="email" formControlName="email" class="flex-item-90 form-input">
        </div>
        @if(!checkoutFormGroup.controls.email.valid && checkoutFormGroup.controls.email.dirty) {
            <div class="form-row validation-text">
                Valid email is required!
            </div>   
        }
    </div>
    
    <br/>
    <label class="flex-item-50 sub-label">Contact Information</label>
    <br/>
    
    <div formGroupName="address">
        <div class="form-item">
            <div class="form-row form-row-gap-3">
                <label for="street" class="flex-item-60 form-label">Street</label>
                <label for="number" class="flex-item-27 form-label">Number</label>
            </div>
            <div class="form-row form-row-gap-3">
                <input id="street" type="text" formControlName="street" class="flex-item-60 form-input">
                <input id="number" type="text" formControlName="number" class="flex-item-27 form-input">
            </div>
            @if(!checkoutFormGroup.controls.address.controls.street.valid && checkoutFormGroup.controls.address.controls.street.dirty
                || !checkoutFormGroup.controls.address.controls.number.valid && checkoutFormGroup.controls.address.controls.number.dirty) {
                <div class="form-row validation-text">
                    Street and number are required!
                </div>   
            }
        </div>

        <div class="form-item">
            <div class="form-row form-row-gap-3">
                <label for="city" class="flex-item-60 form-label">City</label>
                <label for="zip" class="flex-item-27 form-label">Zip</label>
            </div>
            <div class="form-row form-row-gap-3">
                <input id="city" type="city" formControlName="city" class="flex-item-60 form-input">
                <input id="zip" type="zip" formControlName="zip" class="flex-item-27 form-input">
            </div>
            @if(!checkoutFormGroup.controls.address.controls.city.valid && checkoutFormGroup.controls.address.controls.city.dirty
            || !checkoutFormGroup.controls.address.controls.zip.valid && checkoutFormGroup.controls.address.controls.zip.dirty) {
                <div class="form-row validation-text">
                    City and zip are required!
                </div>   
            }
        </div>
    </div>
    <br/>

    <div class="form-row">
        <button type="submit" disabled matTooltip="Finishing payments not available yet.">
            <mat-icon [inline]="true">paypal</mat-icon> Checkout
        </button>
    </div>
</form>