.checkout-form {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: var(--secondary-color);
  border-width: 1px;
  border-radius: 1%;
  padding: 2.5%;
  margin-right: 2.5vw;
  background-color: var(--ternary-color);
}
