:host {
  position: fixed;
  height: 100%;
  transition: left 1s;
}

.sidebar-item-selectable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.left-sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.link-item {
  font-size: 0.8rem;
}
