:host {
  position: fixed;
  height: calc(100% - 7vh - 1.3rem);
  transition: left 1s;
}

/* sidebar */

.sidebar-item-selectable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.left-sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.sidebar-block {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* link item */

.link-item {
  font-size: 0.8rem;
}
