input {
  width: 100%;
}

.form-input {
  height: 1.75rem;
  border-style: solid;
  border-width: 0.33px;
  flex: 5;
}

.form-input:focus {
  outline: auto;
  outline-style: solid;
  outline-width: 1px;
}

.form-select {
  width: 100%;
  height: 1.75rem;
  border-style: solid;
  border-width: 0.33px;
}

.form-select:focus {
  outline: auto;
  outline-style: solid;
  outline-width: 1px;
}

.form-input[type='checkbox'] {
  border: none;
  height: 1.33rem;
  width: 1.33rem;
  margin-left: 0;
  flex: none;
}

.form-input[type='checkbox']:focus {
  outline: none;
}
