<div class="card-container">
    <div class="card"> 
      <img class="card-img" src="assets\grid_image_1.jpg" alt="" />
    </div>
    <div class="card"> 
      <img class="card-img" src="assets\grid_image_2.jpg" alt="" />
    </div>
    <div class="card">
      <img class="card-img" src="assets\grid_image_3.jpg" alt="" />
    </div>
    <div class="card">
      <img class="card-img" src="assets\grid_image_4.jpg" alt="" />
    </div>
    <div class="card">
      <img class="card-img" src="assets\grid_image_5.jpg" alt="" />
</div>