@media (min-width: 1000px) {
    :host {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        row-gap: 3vw;
        column-gap: 10vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}
  
@media (max-width: 1000px) {
    :host {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        row-gap: 3vw;
        column-gap: 10vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}

@media (min-width: 1000px) {
    :host(.grid-design-4-col) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    :host(.grid-design-3-col) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}