:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  overflow: hidden;
  border: solid;
  border-color: var(--ternary-color);
  border-radius: 5px;
  border-width: 2px;
}

.card-img-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.card-bottom-content {
  height: fit-content;
}

.card-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-img:hover {
  opacity: 0.75;
  cursor: pointer;
  transform: scale(1.1);
}
