:host {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    overflow: hidden;
}

.card-img-container {
    width: 100%;
    height: calc(100% - 5vh);
    overflow: hidden;
}

.card-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.card-img:hover {
    opacity: 0.75;
    cursor: pointer;
    transform: scale(1.1);
}