<div>
    <h3>About Me and My Little Shop</h3>
    <p> Hi my name is, hi my name is, hi my name is slim Alice. I am Alice and I am doing ceramics. I have done ceramics for 3 years, enhancing my skills in different fields. I am especially interested in various coloring techniques and decorative motifs and pieces. Holidays are always welcomed and I love to design pieces that fit Christmas- ans Easter-vibes!</p>
    <p> My workshop is based in Leipzig, Saxony, Germany.</p>
    <p> I am always open for your ideas and opinions regarding my shop and especially my work. Do not hesitate to send a message! </p>
    <img src="assets/grid_image_1.jpg" class="theme-image-about"/>
</div>