:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border: solid;
  border-color: white;
  border-width: 0.5px;
}

.counter-number {
  width: 100%;
  border-style: solid none solid none;
  border-color: white;
  border-width: 0.5px;
  justify-content: center;
}

.counter-item-wrapper {
  width: 100%;
  height: 100%;
  font-size: inherit;
  text-align: center;
  align-content: center;
}

.ticker {
  width: 100%;
  height: 100%;
  font-size: inherit;
}

.ticker:hover {
  cursor: pointer;
  opacity: 0.5;
  background: var(--primary-color);
}
