:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  min-height: var(--custom-min-height);
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.breadcrumb-container {
  background-color: var(--ternary-color);
}

.breadcrumb-bottom {
  margin-top: 1rem;
}

.checkout-content {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

app-breadcrumb-checkout {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
