:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.payment-instruction-text {
  font-size: 0.66rem;
  color: var(--secondary-color);
  line-height: 0.15rem;
}

.payment-button {
  width: fit-content;
}
