* {
  color: #e2d7d2;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}

/* news header */

app-news-header {
  height: 4vh;
}

/* toolbar */

.header-toolbar {
  display: grid;
  grid-template-columns: 1fr 11fr 2fr 11fr 1fr;
  height: 7vh;
  min-height: 50px;
  opacity: 0.95;
  background: var(--secondary-color);
}

/* banner */

.header-banner:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  .header-banner {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .header-banner {
    font-size: 15px;
  }
}

/* cart */

@media (max-width: 1000px) {
  .shopping-basket-sidebar-button {
    display: none;
  }
}

@media (min-width: 1000px) {
  .shopping-basket-button-link {
    display: none;
  }
}

/* counter badge */

.counter-badge {
  display: inline-block;
  width: 70%;
  height: 70%;
  position: relative;
  bottom: 70%;
  right: 30%;
  text-align: center;
  text-justify: center;
  z-index: -1;
  font-size: 10px;
  font-weight: 800;
  background-color: white;
  color: var(--secondary-color);
  border-radius: 50%;
}
