<header>
  <app-news-header></app-news-header>
  <mat-toolbar class="header-toolbar">
    <button mat-icon-button (click)="onMenuButtonClick()" class="mat-icon-wrap">
      <mat-icon class="medium-button">menu</mat-icon>
    </button>
    <span></span>
    <span class="header-banner" routerLink="shop">{{
      this.res('SITE_TITLE')
    }}</span>
    <span></span>
    <a [routerLink]="'cart'" class="shopping-basket-button-link">
      <button mat-icon-button>
        <mat-icon class="medium-button">shopping_basket</mat-icon>
        <span class="counter-badge">{{ getCartSize() }}</span>
      </button>
    </a>
    <button
      mat-icon-button
      (click)="onCartButtonClick()"
      class="shopping-basket-sidebar-button"
    >
      <mat-icon class="medium-button">shopping_basket</mat-icon>
      <span class="counter-badge">{{ getCartSize() }}</span>
    </button>
  </mat-toolbar>
  <app-header-sidebar class="header-menu-sidebar" [isHidden]="!showSideMenu" />
  <app-cart-sidebar class="header-cart-sidebar" [isHidden]="!showCartMenu" />
</header>
