* {
  color: var(--primary-color);
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
}

.header-toolbar {
  display: grid;
  grid-template-columns: 1fr 11fr 2fr 11fr 1fr;
  height: fit-content;
  opacity: 0.95;
  background: var(--secondary-color);
}

.medium-button {
  transform: scale(0.8);
}

/* banner */

.header-banner:hover {
  cursor: pointer;
}

.header-banner {
  font-size: 1rem;
}

/* side bar */

@media (max-width: 700px) {
  .header-menu-sidebar {
    width: 40%;
  }
}

@media (min-width: 700px) {
  .header-menu-sidebar {
    width: 25%;
  }
}

.header-cart-sidebar {
  width: 35%;
}

@media (max-width: 900px) {
  .header-cart-sidebar {
    width: 75%;
  }
}

/* counter badge */

.counter-badge {
  display: inline-block;
  width: 60%;
  height: 60%;
  position: relative;
  bottom: 70%;
  right: 30%;
  text-align: center;
  text-justify: center;
  z-index: -1;
  font-size: 0.55rem;
  font-weight: 800;
  background-color: white;
  color: var(--secondary-color);
  border-radius: 50%;
}
