<div class="product-preview-image-container">
  <img class="product-preview-image" [src]="createImage()" />
</div>
<div class="product-preview-title">
  <div>
    {{ cartItem.product.name }}
  </div>
  <div>
    {{ getPrice() | currency }}
  </div>
  <hr />
  <div>
    {{ this.res('CART_SIDEBAR_TOTAL') }}
  </div>
  <div>
    {{ getTotalPrice() | currency }}
  </div>
</div>
<div class="product-preview-right-column">
  <app-tick-counter
    [counter]="cartItem.count"
    (counterChange)="updateCartItemCount($event)"
  />
  <mat-icon (click)="deleteCartItem()" class="delete-icon">delete</mat-icon>
</div>
