:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  gap: 4%;
}

/* preview image  */

.product-preview-image-container-large {
  flex: 5;
}

.product-preview-image-container-medium {
  flex: 3;
}

.product-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-preview-image:hover {
  opacity: 0.8;
}

/* product preview right column */

.product-preview-right-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.delete-icon {
  transform: scale(0.8);
}

.delete-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.delete-icon:active {
  opacity: 0.5;
}

/* title */

.product-preview-title {
  flex: 3;
  font-size: 0.7rem;
  overflow: hidden;
}
