:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  border: solid;
  border-color: var(--primary-color);
  border-width: 1px;
  padding: 7px;
  gap: 4%;
}

/* preview image  */

.product-preview-image-container {
  height: 23vh;
}

.product-preview-image {
  width: 14vw;
  height: 100%;
  object-fit: cover;
}

/* title */

.product-preview-title {
  width: 7vw;
  font-size: 1vw;
  overflow: hidden;
}

/* tick counter */

app-tick-counter {
  width: 2.5vw;
  height: 15vh;
}
