<div>
    <h3>What can we do for You?</h3>
</div>
<div>
    <h4> Who is Alice? </h4>
    <p> Hi my name is, hi my name is, hi my name is slim Alice. I am Alice and I am doing ceramics. See the about section for mire info.</p>
</div>
<div>
    <h4> I am interested in your products. How can I buy? </h4>
    <p> You can buy my pieces using various payment methods. Every available piece is displayed in the shop, including special actions.</p>
</div>
<div>
    <h4> Why can't I access the account section? </h4>
    <p> Currently, there is no need for an account, since there are no advantages or usages for having an account or being logged in. Hence this function is a placeholder for future development.</p>
</div>
<div>
    <h4> I got problems using the website, ordering/finishing an order etc. </h4>
    <p> Submit a complaint, question or any message directly or to {{'info@info.info'}}.</p>
</div>