.tooltip-text {
  display: block;
  position: absolute;
  background-color: var(--secondary-color);
  opacity: 0.75;
  color: var(--primary-color);
  font-size: 0.66rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.tooltip-text::after {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color) transparent;
}

.tooltip-text-visible {
  visibility: visible;
}

.tooltip-text-hidden {
  visibility: hidden;
}

@media (max-width: 700px) {
  .tooltip-text {
    font-size: 0.75rem;
    padding: 7px;
  }
}
