@if (filledImages() && filledImages().length > 0) {
  <mat-icon class="arrow arrow-left" (click)="nextImage(true)"
    >chevron_left</mat-icon
  >
  @if (toggledImage()) {
    <img
      [src]="filledImages()[currentIndex()].fileContent?.dataUrl || ''"
      class="selected-image"
      alt="selected image"
      animate.enter="change-image-animation"
    />
  } @else {
    <img
      [src]="filledImages()[currentIndex()].fileContent?.dataUrl || ''"
      class="selected-image"
      alt="selected image"
      animate.enter="change-image-animation"
    />
  }
  <mat-icon class="arrow arrow-right" (click)="nextImage(false)"
    >chevron_right</mat-icon
  >
}
