@if (filledImages() && filledImages().length > 0) {
  <mat-icon class="arrow arrow-left" (click)="nextImage(true)"
    >chevron_left</mat-icon
  >
  @if (toggledImage()) {
    <img
      [src]="filledImages()[currentIndex()]?.imgSrc || ''"
      class="selected-image"
      alt="selected image"
      animate.enter="change-image-animation"
      (click)="openPopUpCarouselImage()"
    />
  } @else {
    <img
      [src]="filledImages()[currentIndex()]?.imgSrc || ''"
      class="selected-image"
      alt="selected image"
      animate.enter="change-image-animation"
      (click)="openPopUpCarouselImage()"
    />
  }
  <mat-icon class="arrow arrow-right" (click)="nextImage(false)"
    >chevron_right</mat-icon
  >
}
@if (enlargedCarouselImage()) {
  <div
    class="image-pop-up-background-overlay"
    animate.enter="pop-up-image-animation"
    animate.leave="pop-up-close-image-animation"
  ></div>

  <div
    class="image-pop-up-container"
    animate.enter="pop-up-image-animation"
    animate.leave="pop-up-close-image-animation"
  >
    <img
      [src]="filledImages()[currentIndex()]?.imgSrc || ''"
      class="pop-up-image"
      alt="pop up image"
    />
    <mat-icon class="close-button" (click)="closePopUpCarouselImage()"
      >close</mat-icon
    >
  </div>
}
