/* general and base */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #745b50;
}

* {
  box-sizing: border-box;
  font-family: courier;
  font-weight: 200;
}

html { 
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  font-size: 2.5vh;
}

button:hover {
  cursor: pointer;
}