/* general and base */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:root {
  --primary-color: #f7f9f6;
  --secondary-color: #4f6f52;
  --ternary-color: #e3ece4;

  --custom-min-height: calc(100vh - 2 * 7vh - 1rem);
}

main {
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 200;
}

.mat-icon-wrap {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* fonts */

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
