/* general and base */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #dbdbdb;
}

* {
  box-sizing: border-box;
  }

html { 
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  font-size: 2.5vh;
  font-family: "Helvetica", "Arial";
}

/* multi purpose flex columns */

.flex-col-big {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.flex-col-medium {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.flex-col-small {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.flex-col-tiny {
  display: flex;
  flex-direction: column;
  width: 5%;
}