:host {
    display: flex;
    justify-content: space-between;
    border: solid;
    border-color: var(--primary-background-color);
    border-width: 1px;
    padding: 5px;
    gap: 3%;
}

.sub-item {
    width: 33.33%;
}

.place-right {
    align-items: flex-end;
}

/* preview image  */

.product-preview {
    width: 17.5vh;
    height: fit-content;
}

.product-preview-image {
    width: 100%;
    height: auto;
}

/* title */

.product-title {
    font-size: 1vw;
    overflow: hidden;
}

/* tick counter */

app-tick-counter {
    height: fit-content;
}