<div class="carousel-container">
  <h2>CURRENTUM</h2>
  <div class="carousel-card-container hidable-slide" id="slide-0">
    <div class="card">
      <img class="card-img" src="assets\grid_image_1.jpg" alt="" />
    </div>
    <div class="card">
      1: Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
    </div>
  </div>
  <div class="carousel-card-container hidable-slide" id="slide-1">
    <div class="card">
      <img class="card-img" src="assets\grid_image_2.jpg" alt="" />
    </div>
    <div class="card">
      2: Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
    </div>
  </div>
  <div class="carousel-card-container hidable-slide" id="slide-2">
    <div class="card">
      <img class="card-img" src="assets\grid_image_3.jpg" alt="" />
    </div>
    <div class="card">
      3: Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
    </div>
  </div>
</div>
<div class="pagination-area">
  <div>
    <span class="pagination-link" id="backward"><i class="lni lni-arrow-left"></i></span>&nbsp;&nbsp;&nbsp;<span class="pagination-link" id="forward"><i class="lni lni-arrow-right"></i></span>
  </div>
</div>