:host {
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 1em;
  padding-bottom: 1em;
}

.cart-show-divider {
  width: 100%;
  opacity: 0.33;
  border-color: var(--secondary-color);
}

.cart-bottom-badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.33rem;
}

.badge {
  font-size: 0.6rem;
}

.cart-sum-container {
  display: flex;
  justify-content: space-between;
}

.discount-code-form-section {
  width: 100%;
}

.apply-code-button {
  flex: 2;
  height: 1.75rem;
}

.shipping-fee-text {
  font-size: 0.66rem;
}
