:host {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
}

.show-item {
    width: 47.5%;
    margin-left: 2.5vw;
}

.cart-show-item {
    display: block;
}

.cart-show-divider {
    margin-left: 5px;
}