:host {
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 5%;
}

.cart-show-item {
  display: block;
}

.cart-show-divider {
  margin-left: 5px;
}
