/* header */

header {
  position: sticky;
  top: 0;
  z-index: 2;
  font-size: 2vw;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 20fr 7fr 1fr;
  height: 15vh;
  opacity: 0.95;
  background: var(--secondary-background-color);
}

.header-left {
  align-self: center;
  font-weight: 700;
  margin-left: 10%;
}

.header-right {
  justify-self: center;
  align-self: center;
  font-size: 5vh;
}