<header> 
  <mat-toolbar class="header-toolbar">
    <button mat-icon-button (click)="onMenuButtonClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span>{{this.res("SITE_TITLE")}}</span>
    <span></span>
    <button mat-icon-button (click)="onCartButtonClick()">
      <mat-icon>shopping_basket</mat-icon>
      <span class="counter-badge">8</span>
    </button>
  </mat-toolbar> 
  @if(showSideMenu) {
    <app-header-sidebar/>
  }
  @if(showCartMenu) {
    <app-cart-sidebar/>
  }
</header>