<div class="sidebar-menu">
    <div class="sidebar-item">{{ resourceService.get("MENU_SIDEBAR_SHOP") }}</div>
    <div class="sidebar-item">{{ resourceService.get("MENU_SIDEBAR_HELP") }}</div>
    <div class="sidebar-item">{{ resourceService.get("MENU_SIDEBAR_ACCOUNT") }}</div>
    <div class="sidebar-big-spacer"></div>
    <div class="sidebar-item">
        <span>{{ resourceService.get("MENU_SIDEBAR_ABOUT") }}</span>
        &nbsp;
        <span>{{ resourceService.get("MENU_SIDEBAR_IMPRESSUM") }}</span>
    </div>
</div>
