:host {
    position: fixed;
    width: 35%;
    height: 100%;
    transition: left 1s;
}

.sidebar-item-selectable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-item {
    height: 5vh;
}

@media (max-width: 1000px) {
    .link-item {
        font-size: 18px;
    }  
}