@for (cardModel of cardInputList; track $index) {
  <app-card
    [cardModel]="cardModel"
    [routerLink]="cardModel.cardLink ?? ''"
    animate.enter="enter-animation"
    [style]="{
      'grid-row-start': cardModel.gridRowStartEnd
        ? cardModel.gridRowStartEnd[0]
        : '',
      'grid-row-end': cardModel.gridRowStartEnd
        ? cardModel.gridRowStartEnd[1]
        : ''
    }"
  >
    <div class="sub-section-card" aria-labelledby="sub-section-card-info">
      <div
        [class]="{
          'item-sub-text-card': true,
          'sub-text-large': useLargeText
        }"
      >
        <app-tooltip [tooltipText]="cardModel.subText || ''">
          <span>{{ cardModel.subText }}</span>
        </app-tooltip>
      </div>
    </div>
  </app-card>
}
