@for(cardItem of cardItemList; track cardItem.id) {
<app-card
  [routerLink]="cardItem.cardLink ?? ''"
  [model]="cardItem"
  [ngStyle]="getStyleForGridExtension(cardItem)"
>
  <div class="sub-text-card">
    @if(templateType == templateTypeEnum.NameOnly) {
    <div class="item-sub-text-card">
      {{ cardItem.name.toUpperCase() }}
    </div>
    } @if(templateType == templateTypeEnum.NameAndPrice) {
    <div class="item-sub-text-card">
      {{ cardItem.name.toUpperCase() }}
    </div>
    <div class="item-sub-text-card">&middot;</div>
    <div class="item-sub-text-card">
      {{ getPrice(cardItem) | currency }}
    </div>
    }
  </div>
</app-card>
}
