@for (cardModel of cardInputList; track $index) {
  <app-card
    [cardModel]="cardModel"
    [routerLink]="cardModel.cardLink ?? ''"
    [style]="{
      'grid-row-start': cardModel.gridRowStartEnd
        ? cardModel.gridRowStartEnd[0]
        : '',
      'grid-row-end': cardModel.gridRowStartEnd
        ? cardModel.gridRowStartEnd[1]
        : ''
    }"
  >
    <div class="sub-section-card" aria-labelledby="sub-section-card-info">
      <app-tooltip [tooltipText]="cardModel.subText || ''">
        <div
          [class]="{
            'item-sub-text-card': true,
            'sub-text-large': useLargeText
          }"
        >
          {{ cardModel.subText }}
        </div>
      </app-tooltip>
    </div>
  </app-card>
}
