:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ternary-color);
}

.news-text {
  width: fit-content;
  height: fit-content;
  color: black;
  vertical-align: middle;
}

@media (min-width: 500px) {
  .news-text {
    font-size: 1.5vh;
  }
}

@media (max-width: 500px) {
  .news-text {
    font-size: 1.3vh;
  }
}
