:host {
  display: flex;
  height: 1.3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--ternary-color);
}

.news-text {
  width: fit-content;
  color: black;
  vertical-align: middle;
  padding: 0.8em;
}

.news-text {
  font-size: 0.7rem;
}
