.shipment-form {
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
  padding: 2.5%;
  border: solid;
  border-color: var(--ternary-color);
  border-width: 0.33px;
  margin-right: auto;
  margin-left: auto;
}

.sub-label {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  opacity: 0.66;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

@media (min-width: 700px) {
  .shipment-form {
    width: 80vw;
  }

  .street-section {
    flex: 3;
  }

  .number-section {
    flex: 1;
  }

  .city-section {
    flex: 3;
  }

  .zip-section {
    flex: 1;
  }

  .first-name-section {
    flex: 1;
  }

  .last-name-section {
    flex: 1;
  }
}

@media (max-width: 700px) {
  .shipment-form {
    width: 90vw;
  }

  .row {
    gap: 0.66rem;
  }

  .street-section {
    flex: 2;
  }

  .number-section {
    flex: 1;
  }

  .city-section {
    flex: 2;
  }

  .zip-section {
    flex: 1;
  }

  .first-name-section {
    flex: 1;
  }

  .last-name-section {
    flex: 1;
  }
}
