<form [formGroup]="shipmentFormGroup" class="shipment-form">
  <div class="sub-label">
    {{ this.res('SHIPMENT_SUBCAPTION_PERSONAL_INFORMATION') }}
  </div>

  <div class="row">
    <app-form-section
      [control]="
        checkoutService.getFormControlFromShipmentFormGroup('firstName')
      "
      [labelResource]="'FORM_ROW_LABEL_FIRST_NAME'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'firstName'"
      [isRequired]="true"
      class="first-name-section"
    ></app-form-section>

    <app-form-section
      [control]="
        checkoutService.getFormControlFromShipmentFormGroup('lastName')
      "
      [labelResource]="'FORM_ROW_LABEL_LAST_NAME'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'lastName'"
      [isRequired]="true"
      class="last-name-section"
    ></app-form-section>
  </div>

  <app-form-section
    [control]="
      checkoutService.getFormControlFromShipmentFormGroup('companyName')
    "
    [labelResource]="'FORM_ROW_LABEL_COMPANY_NAME'"
    [type]="'text'"
    [id]="'companyName'"
    [isRequired]="false"
  ></app-form-section>

  <app-form-section
    [control]="checkoutService.getFormControlFromShipmentFormGroup('email')"
    [labelResource]="'FORM_ROW_LABEL_EMAIL'"
    [validationFailResourcesMap]="[
      { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' },
      { key: 'email', value: 'VALIDATION_NON_VALID_EMAIL' }
    ]"
    [type]="'email'"
    [id]="'email'"
    [isRequired]="true"
  ></app-form-section>

  <app-form-section
    [control]="
      checkoutService.getFormControlFromShipmentFormGroup(
        'isNewsletterActivated'
      )
    "
    [labelResource]="'FORM_ROW_LABEL_ISNEWSLETTERACTIVATED'"
    [type]="'checkbox'"
    [id]="'isNewsletterActivated'"
    [isRequired]="false"
  ></app-form-section>

  <app-form-section
    [control]="checkoutService.getFormControlFromShipmentFormGroup('phone')"
    [labelResource]="'FORM_ROW_LABEL_PHONE'"
    [type]="'text'"
    [id]="'phone'"
    [isRequired]="false"
  ></app-form-section>

  <br />

  <div class="sub-label">
    {{ this.res('SHIPMENT_SUBCAPTION_ADDRESS_INFORMATION') }}
  </div>

  <div class="row">
    <app-form-section
      [control]="
        checkoutService.getFormControlFromAddressShipmentFormGroup('street')
      "
      [labelResource]="'FORM_ROW_LABEL_STREET'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'street'"
      [isRequired]="true"
      class="street-section"
    ></app-form-section>

    <app-form-section
      [control]="
        checkoutService.getFormControlFromAddressShipmentFormGroup('number')
      "
      [labelResource]="'FORM_ROW_LABEL_NUMBER'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'number'"
      [isRequired]="true"
      class="number-section"
    ></app-form-section>
  </div>

  <app-form-section
    [control]="
      checkoutService.getFormControlFromAddressShipmentFormGroup('addition')
    "
    [labelResource]="'FORM_ROW_LABEL_ADDITION'"
    [type]="'text'"
    [id]="'addition'"
    [isRequired]="false"
  ></app-form-section>

  <div class="row">
    <app-form-section
      [control]="
        checkoutService.getFormControlFromAddressShipmentFormGroup('zip')
      "
      [labelResource]="'FORM_ROW_LABEL_ZIP'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'zip'"
      [isRequired]="true"
      class="zip-section"
    ></app-form-section>

    <app-form-section
      [control]="
        checkoutService.getFormControlFromAddressShipmentFormGroup('city')
      "
      [labelResource]="'FORM_ROW_LABEL_CITY'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
      ]"
      [type]="'text'"
      [id]="'city'"
      [isRequired]="true"
      class="city-section"
    ></app-form-section>
  </div>

  <app-form-section
    [control]="
      checkoutService.getFormControlFromAddressShipmentFormGroup('country')
    "
    [labelResource]="'FORM_ROW_LABEL_COUNTRY'"
    [validationFailResourcesMap]="[
      { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' }
    ]"
    [selectOptions]="getCountrySelectOptions()"
    [type]="'select'"
    [id]="'country'"
    [isRequired]="true"
  ></app-form-section>
</form>
