:host {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--ternary-color);
}

.subscribe-container {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  gap: 0.9em;
}

.subscribe-text {
  font-size: 0.9rem;
  font-style: italic;
}

.subscribe-item {
  display: block;
}

.newsletter-subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-button {
  width: 33%;
  height: 2rem;
}

@media (max-width: 700px) {
  .subscribe-button {
    width: 40%;
    height: 2rem;
  }

  .subscribe-container {
    width: 75%;
  }
}
