<div class="subscribe-text">
  {{ this.res('NEWSLETTER_SUBSCRIBE_TEXT') }}
</div>
<div class="subscribe-row">
  <form
    [formGroup]="newsletterSubscribeFormGroup"
    class="newsletter-subscribe-form"
    (ngSubmit)="onSubmit()"
  >
    <app-form-section
      [control]="newsletterSubscribeFormGroup.controls.email"
      [labelResource]="'FORM_ROW_LABEL_EMAIL'"
      [type]="'email'"
      [id]="'email'"
      class="subscribe-form-section"
    ></app-form-section>
    <app-button
      [type]="'submit'"
      [disabled]="false"
      [matIcon]="'check'"
      [label]="this.res('NEWSLETTER_SUBSCRIBE_BUTTON_TEXT')"
      [border]="'solid'"
      [hideLabelOnMobile]="true"
      class="subscribe-button"
    >
    </app-button>
  </form>
</div>
