<div class="subscribe-text">
  {{ this.res('NEWSLETTER_SUBSCRIBE_TEXT') }}
</div>
<div class="subscribe-row">
  <form
    [formGroup]="newsletterSubscribeFormGroup"
    class="newsletter-subscribe-form"
    (ngSubmit)="onSubmit()"
  >
    <app-form-section
      [control]="newsletterSubscribeFormGroup.controls.email"
      [labelResource]="'FORM_ROW_LABEL_EMAIL'"
      [type]="'email'"
      [id]="'email'"
      [validationFailResourcesMap]="[
        { key: 'required', value: 'VALIDATION_FIELD_REQUIRED' },
        { key: 'email', value: 'VALIDATION_NON_VALID_EMAIL' }
      ]"
      class="subscribe-form-section"
    >
      <app-button
        [type]="'submit'"
        [disabled]="false"
        [matIcon]="'check'"
        [label]="this.res('NEWSLETTER_SUBSCRIBE_BUTTON_TEXT')"
        [border]="'solid'"
        [hideLabelOnMobile]="true"
        class="subscribe-button"
      >
      </app-button
    ></app-form-section>
  </form>
</div>
